# --- Environnements et Cache (Gardez ceci bloqué) ---
env/
venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.streamlit/secrets.toml

# --- Autoriser les modèles et outils nécessaires (C'est ici que tu corriges) ---
# On ne met plus "*.keras" ni "*.save" ici pour qu'ils soient envoyés à GitHub
# On garde juste les datasets bruts bloqués si ils sont trop lourds
dataset/
data/
images/
*.wav

# (Si tes fichiers .keras sont dans un sous-dossier, ils seront envoyés)